*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: calc;
    src: url("Calculator.ttf");
}
html{
    font-size: 100%;
}
body{
    font-family: calc;
}
.clock_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.clock_inside{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-size: 400% 400%;
    animation: backg 10s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@keyframes backg{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
.clock_hrs{
    width: 65px;
    height: 60px;
    Qborder: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 4rem;
}
.clock_mins{
    width: 65px;
    height: 60px;
    Qborder: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 4rem;
}
.clock_sec{

    Qborder: 1px solid black;
    align-self: end;
    width: 25px;
    height: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 2rem;
}
.clock_colon{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    align-self: center;
}
.date_inside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding: 5px;
    border-radius: 5px;
}
.row1{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
}
.row2{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.date_inside > div{
    text-align: center;
}
.date_col div, .day_col div, .month_col div, .year_col div{
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1rem;
}
.date_col span, .day_col span, .month_col span, .year_col span{
    font-size: 2rem;
}   